.App {
    text-align: center;
}

*{
  margin: 0px;
  padding: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
}


button{
  background-color: rgb(46, 153, 241);
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  padding: 7px 14px;
}

